APScheduler==3.8.1
automium==0.2.6
automium-web==0.1.1
baostock==0.8.8
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
docopt==0.6.2
dominate==2.6.0
Flask==1.1.2
flask-apidoc==1.3.0
Flask-APScheduler==1.12.3
Flask-Bootstrap==3.3.7.1
Flask-Script==2.0.6
greenlet==1.1.2
idna==3.3
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.0.3
legacy==0.1.6
MarkupSafe==2.0.1
MyApplication==0.1.0
numpy==1.22.2
pandas==1.4.1
pipreqs==0.4.11
pymongo==3.12.2
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
visitor==0.1.3
Werkzeug==2.0.2
yarg==0.1.9
