<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <title>股票预测系统</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
	
    <!--[if lt IE 9]>
		<script src="/static/assets/js/html5shiv.min.js"></script>
		<script src="/static/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
        	<div class="header-left">
        		<a class="logo">
        			<span>Stock Predict</span>
        		</a>
        	</div>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
        					<img class="rounded-circle" src="/static/assets/img/user.jpg" width="24" alt="Admin">
        					<span class="status online"></span>
        				</span>
        				<span>{{username}}</span>
                    </a>
        			<div class="dropdown-menu">
        				<a class="dropdown-item" href="/login_out">退出登录</a>
        			</div>
                </li>
            </ul>
        </div>
		
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/goSelfChoose"> <img src="/static/assets/img/selfchoose.svg" style="width: 20px;height: 20px;"/> <span>自选股</span></a>
                        </li>
						<li>
                            <a href="/goLongLine"><img src="/static/assets/img/longline.svg" style="width: 20px;height: 20px;"/> <span>长线股</span></a>
                        </li>
                        <li>
                            <a href="/goOneYear"> <img src="/static/assets/img/oneyear.svg" style="width: 20px;height: 16px;"/> <span>上市一年股票</span></a>
                        </li>
                        <li>
                            <a href="/goThreeYear"><img src="/static/assets/img/threeyear.svg" style="width: 20px;height: 16px;"/></i> <span>上市三年股票</span></a>
                        </li>
                        <li>
                            <a href="/goRecent"><img src="/static/assets/img/new1.svg" style="width: 20px;height: 16px;"/></i> <span>最近上市股票</span></a>
                        </li>
						<li class="submenu">
							<a href="#"><img src="/static/assets/img/add2.svg" style="width: 20px;height: 20px;"/> <span> 股票添加 </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/goAddSelfChoose">自选股票</a></li>
								<li><a href="/goAddLongLine">长线股票</a></li>
							</ul>
						</li>
						<li>
						    <a href="/goMessage"> <img src="/static/assets/img/message1.svg" style="width: 20px;height: 20px;"/><span>每日信息</span></a>
						</li>
                        <li>
						    <a href="/goHot"> <img src="/static/assets/img/hot.svg" style="width: 20px;height: 20px;"/><span>热门股票</span></a>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="page-title">自选股预测</h4>
                    </div>
                	<div class="col-sm-4">
						<a class="btn btn-primary float-right"  href="/goLongLine">返回</a>
                	</div>
                </div>
				<div class="row">
					<div class="col-sm-12">
						<div id="main" style="width: 1200px;height:250px;"></div>
					</div>
				</div>
                <div class="row">
					<div class="col-sm-12 float-left">
						<div style="width: 1200px;height:40px;">模型预测准确率：100%</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="datatable table table-stripped">
						    <thead>
						        <tr>
                                    <th>预测时间</th>
						            <th>股票代码</th>
						            <th>股票名字</th>
						            <th>当天模型预测涨幅</th>
						            <th>当天模型真实涨幅</th>
						        </tr>
						    </thead>
						    <tbody>
						        {% for stock_data in stock_datas %}
                                    <tr>
                                        <td>{{ stock_data.date}}</td>
                                        <td>{{ stock_id }}</td>
                                        <td>{{ stock_name}}</td>
                                        {% if stock_data.stock_daily_predict_up < 0 %}
                                            <td><font color="green">{{ stock_data.stock_daily_predict_up}} </font></td>
                                        {% else %}
                                            <td><font color="red">{{ stock_data.stock_daily_predict_up}} </font></td>
                                        {% endif %}
                                        {% if stock_data.stock_daily_real_up < 0 %}
                                            <td><font color="green">{{ stock_data.stock_daily_real_up}} </font></td>
                                        {% else %}
                                            <td><font color="red">{{ stock_data.stock_daily_real_up}} </font></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
						    </tbody>
						</table>
					</div>
				</div>
                
            </div>
            
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/static/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.js"></script>
    <script src="/static/assets/js/Chart.bundle.js"></script>
    <script src="/static/assets/js/chart.js"></script>
    <script src="/static/assets/js/app.js"></script>
	<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</body>
	<script type="text/javascript">
		var chartDom = document.getElementById('main');
		var myChart = echarts.init(chartDom);
		$.ajax({
                url:'/longUpChart',
                success:function (data) {
                    json_data=JSON.parse(data)
                    console.info(json_data['predict_data_lists'])
                    console.info(json_data['real_data_lists'])
                    console.info(json_data['day_lists'])
                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '近一周股票预测涨幅与真实涨幅'
                        },
                        tooltip: {},
                        legend: {},
                        xAxis: {
                            data: json_data['day_lists']
                        },
                        yAxis: {},
                        series: [
                            {
                                name: '预测上涨率',
                                type: 'line',
                                data: json_data['predict_data_lists']
                            },
                            {
                                name: '真实上涨率',
                                type: 'line',
                                data: json_data['real_data_lists']
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            })
	</script>
</html>